<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  @(#)logback.xml  last: 17.05.2018
  ~
  ~ Title: LG Java for Arduino
  ~ Description: Program for support Arduino.
  ~ Copyright (c) 2018, LasGIS Company. All Rights Reserved.
  -->

<configuration scan="true" scanPeriod="2 minute">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>C:\temp\log4j-RobotControl.log</file>
    <encoder>
      <pattern>%d [%t] %-5p %C{1} - %m%n</pattern>
    </encoder>
  </appender>
<!--
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %-5p %C{1} - %m%n</pattern>
    </encoder>
  </appender>
-->

  <!-- TRACE, DEBUG, INFO, WARN, ERROR, OFF -->
  <logger name="com.lasgis.arduino" level="DEBUG">
    <appender-ref ref="FILE"/>
  </logger>
<!--
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
-->
</configuration>