<?xml version="1.0" encoding="UTF-8"?>
<!--~
  ~ @(#)logback.xml 1.0
  ~
  ~ Title: LG Evolution powered by Java
  ~ Description: Program for imitation of evolutions process.
  ~ Copyright (c) 2012-2015 LasGIS Company. All Rights Reserved.
  -->

<configuration scan="true" scanPeriod="2 minute">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>C:\temp\log4j-RobotControl.log</file>
    <encoder>
      <pattern>%d [%t] %-5p %C{1} - %m%n</pattern>
    </encoder>
  </appender>
<!--
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%t] %-5p %C{1} - %m%n</pattern>
    </encoder>
  </appender>
-->

  <!-- TRACE, DEBUG, INFO, WARN, ERROR, OFF -->
  <logger name="com.lasgis.robot" level="DEBUG">
    <appender-ref ref="FILE"/>
  </logger>
<!--
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
-->
</configuration>